/* Espaciado del Cuerpo */
body{
	padding-left: 4%;
	padding-right: 4%;
}

/* Centrado de información email, github, tel, location */
.informacion{
	text-align: center;
}

/* Caracteristicas del Nombre */
.name {
	font-family: arial, sans-serif, serif;
	color:#FFBF00;
	font-size: 40px;
	font-weight: bold;
	text-shadow: 1px 1px 30px white;
}

/* Caracteristicas del Job */
.job {
	font-family: arial, sans-serif, serif;
	font-size: 2em;
	color: #000;
	float: right;
	text-shadow: 1px 1px 5px white;
}

/* Contendor de la Información Principal tiene color de fondo y color de fuente */
.box {
	background-color: #424242;
	color: #fff;
}

/* Propiedades para E-mail, GitHub, Tel y Localizacion */
.Datainfo {
	font-family: arial, sans-serif, serif;
	color: #FFBF00;
	font-weight: bold;
}

/* Titulo de Lista (Propiedades) */
.TitleSkill {
	font-family: arial, sans-serif, serif;
	color: #FFBF00;
	font-weight: bold;
}
/* Interlineado para lista de habilidades */
.ListKills {
	line-height: 175%;
}

/* Contenedor de la Segunda Informacion (Experiencia Laboral) */
.boxColor {
	font-family: sans-serif, serif;
	background-color: #D8D8D8;
	color: #fff;
	line-height: 150%;
	text-align: justify;
}

/* Tamaño de la Imagen*/
.image {
	width: 100%;
}

/* Subtitulos (Work Experience y Proyects GitHub) */
h2 {
	font-family: arial, sans-serif, serif;
	color: #585858;
	margin-left: 1%; 
}

/* SUBTITLE SECOND BOX */
.subtitulo {
	font-family: arial, sans-serif, serif;
	color: #1470ed;
	margin-left: 1%;; 
}
/* Caracteristicas de Información Cognits Training*/
.information {
	font-family: arial, sans-serif, serif;
	color: #000;
	margin-left: 3%;
}

/* Caracteristicas de Información Cognits Experience */
.secondInfo {
	font-family: arial, sans-serif, serif;
	color: #000;
	margin-left: 3%; 
}

/* Información de Proyectos GITHUB */
.proyects {
	font-family: arial, sans-serif, serif;
	margin-left: 3%;
	line-height: 200%;
	text-align: justify;
}